{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "never",
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}