.hotPage{
  .tabWrapper{
    width: 1200px;
    margin: 0 auto;
  }
  .list{
    // 两行两列 列宽190px
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: repeat(2, 190px);
    grid-gap: 20px;
  }
}